input.annuaire{
    width: 100%;
    padding: 12px 20px;
    border: 1px solid black;
    font-family: "jost", sans-serif;
}

.container-messagerie{
    margin-bottom: 40vh;
}

.reduced-aside{
    height: 90vh;
}

.names{
    align-self: flex-start;
    margin-left: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-bottom: #f1f1f1 1px solid;
}

.names h1{
    font-size: 2rem;
    font-family: "jost", sans-serif;
    color: white;
    margin: 0;
}

.names h2{
    align-self: flex-start;
    font-size: 1rem;
    font-family: "jost", sans-serif;
    color: white;
}

aside ul {
    list-style-type: none;
    font-family: "jost", sans-serif;
}

aside li a{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    width: 80%;
    border-bottom: 1px solid #f1f1f1;
}

.sujet-mail{
    font-size: 1.3rem;
    font-family: "jost", sans-serif;
    color: white;
    margin: 0;
}

.photo-annuaire{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
    background-color: #f1f1f1;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
    max-height: 400px;
    width: 90%;
    overflow: hidden;
    overflow-y: auto;
}


.message-received{
    background-color: var(--light-blue);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 50%;
    float: left;
}

.message-sent{
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 50%;
    float: right;
}

.message-date{
    font-size: 0.7rem;
    margin-top: 5px;
    color: black;
}

.message-sent p{
    text-align: right;
}

.message-input{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.message-input input{
    width: 80%;
    padding: 10px;
    border: 1px solid black;
    font-family: "jost", sans-serif;
}

.message-input button{
    width: 20%;
    padding: 10px;
    border: 1px solid black;
    font-family: "jost", sans-serif;
    background-color: var(--blue);
    color: black;
}

.message-input button:hover{
    background-color: var(--orange);
}


/* Mail */

.mail{
    background-color: white;
    width: 60%;
    height: 60vh;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.mail h1{
    font-size: 2rem;
    font-family: "jost", sans-serif;
    color: black;
    margin: 0;
    padding-bottom: 20px;
    align-self: center;
    width: 60%;
    border-bottom: solid 1px black;
}
.mail h2{
    font-size: 1.3rem;
    font-family: "jost", sans-serif;
    color: black;
}

.mail a{
    align-self: center;
    margin: 20px;
}

.mail-editor-form {
    background-color: white;
    width: 70%;
    height: 65vh;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Barlow", sans-serif;
}

input[type="text"], input[type="email"], input[type="submit"] {
    width: 100%;
    font-family: "Barlow", sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="submit"] {
    background: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background: #0056b3;
}

.editable-message{
    height: 200px;
}


.toolbar {
    background: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.toolbar button {
    color: black;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.toolbar button:hover {
    border: solid 1px black;
    color: black;
}